header{
    background-color: antiquewhite;
    padding: 1rem;
    text-align: center;
}

main{
    max-width: 980px;
    margin:auto;
    padding: 0 1rem;
}

.nav-list {
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap:0rem;
    margin-top: 1rem;
}

.vault-control{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-bottom: 2rem;
}

@media(min-width:700px){
    .stat-grid {grid-template-columns: repeat(3,1 fr);}
    .vault-control{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1080px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
    }
    .nav-list {margin-top: 0;}
}


